#map{ style: "height: 400px" }
%h1
  = link_to @device.name, @device
  KTVs

%table.table.table-striped
  %tr
    %th KTV
  - @device.karaoke_places.each do |bar|
    %tr
      %td= link_to bar.name, bar
- content_for :scripts do
  :javascript
    var data = JSON.parse("#{escape_javascript @device.karaoke_places.to_json(only: [:name, :latitude, :longitude, :slug])}")
    for (var i = 0; i < data.length; i++) {
      L.marker([ data[i]["latitude"], data[i]["longitude"]])
        .addTo(window.Map)
        .bindPopup("<a href='#{karaoke_places_url}/" + data[i]["slug"] + "'>" + data[i]["name"] + "</a>");
    }
