- build_meta_tags title: "About"
%h1 About this Site

%p I don't sing that much anymore, but whenever I get dragged to a karaoke bar we always encounter the same problems:

%ul
  %li The place a bit pricey
  %li People can't decide what to sing
  %li Some songs are missing in the book
  %li Song books only list English, OPM, and maybe K-Pop. No J-Pop/C-Pop/European songs even though they may be in the machine

%p This site's main goals are to help you deal with those problems. It should:

%ul
  %li Help you find the closest, most affordable karaoke bar
  %li Suggest songs when your group cannot decide what to sing
  %li Provide numbers and links to lyrics of rare songs

%h2 Roadmap

%p Right now, this site is curated by a handful of admins. All requests and submissions will go through the comments and will be verified and processed by the admins.

%p If it gets a huge amount traffic (i.e. &gt; 5000 songs), we'll consider turning this into a fully crowdsourced site, with submission voting and wiki style editing. I personally think <em>it won't happen</em> but it doesn't hurt to dream.

%h2 Some quick notes on non-English/OPM music

%p
  Chinese and Korean Pop song entries are on hold until we get people who can curate the list.

%p
  Japanese songs is currently limited to pre-2010 music - they're more likely to show up in Kumyoung and TJ Media machines, even those not updated for a long time. There are some exceptions, however, like
  = link_to "ultra popular songs", "http://karaoke.karaniwan.org/songs/guren-no-yumiya"
  and
  = link_to "songs that we've seen in a local KTVs", "http://karaoke.karaniwan.org/songs/crossing-field"
  \. We also prioritize anime OSTs as they are more popular locally than your usual idol group pop music.
