- build_meta_tags
%h1.text-center
  = Rails.application.config.title
  (deprecated)

%p.text-center{ style: "padding-top: 40px" }
  Thank you for participating in the beta.
%p.text-center
  Based on your input, we've created a J-music centric site to replace this site:


%p.text-center
  = link_to "Proceed to Awit Otaku", "https://www.awitotaku.com"
