#map{ style: "height: 400px" }
%h1.text-center [Unnamed Karaoke App]
%p.text-center
  %em because karaoke is more than
  "Let it Go"
  %em on endless repeat
- content_for :scripts do
  :javascript
    window.setupMap(13, 122, 5);
    var data = JSON.parse("#{escape_javascript KaraokePlace.all.to_json(only: [:name, :latitude, :longitude, :slug])}")
    for (var i = 0; i < data.length; i++) {
      L.marker([ data[i]["latitude"], data[i]["longitude"]])
        .addTo(window.Map)
        .bindPopup("<a href='#{karaoke_places_url}/" + data[i]["slug"] + "'>" + data[i]["name"] + "</a>");
    }
