%h1 Request Songs/Artists/KTVs

%p Please use the Disqus comment box request for new song and artist entries. You an also request for KTV venues in a specific place.

%p
  For other inquiries about Japanese karaoke in the Philippines or questions about this site not covered by the
  = link_to "About", about_path
  page, please join our
  = link_to "Facebook group", "https://www.facebook.com/groups/JKaraokePH/"
  and post them there.

= render 'pages/disqus_code'
