%table.table.table-striped
  %tr
    %th Name
    %th Address
    %th Machine
  - @bars.each do |bar|
    %tr
      %td= link_to bar.name, bar
      %td= bar.address
      %td= display_karaoke_machine(bar)

