@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

table a:not(.btn),
.table a:not(.btn) {
  text-decoration: none !important;
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}
.css1 { 
  font-size: 1.0em; 
}
.css2 {
  font-size: 1.3em; 
}
.css3 { 
  font-size: 1.6em; 
}
.css4 { 
  font-size: 2.0em; 
}
.form-control.long-inline {
  width: 250px;
}
